@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
    margin: 0;
  }
}

@layer components {
  .primary-btn {
    @apply px-3 py-1 rounded-2xl text-white w-1/4 font-semibold;
    background-image: linear-gradient(135deg, #b5f7eb 0%, #9face6 100%);
  }

  .disabled-btn {
    @apply bg-gray-200;
    background-image: none;
    cursor: not-allowed;
  }

  .link-btn {
    @apply px-3 py-1 rounded-2xl w-1/4 font-semibold text-[#9face6];
  }

  .input {
    @apply border border-gray-200 px-2 py-1 rounded-2xl w-full outline-none text-7xl text-center;
  }

  .input-label {
    @apply block text-gray-600 mb-6 text-center font-semibold text-xl;
  }
}

body {
  @apply text-gray-600;
}
